<div *ngIf="data.length; else noData" >
    <div class="row">
        <div class="cell header" [ngStyle]="getCellStyle(c.minWidth)" *ngFor="let c of cells">
            {{c.header}}
        </div>
    </div>
    <div class="row" *ngFor="let d of data; trackBy: getTracker">
        <div class="cell" [ngStyle]="getCellStyle(c.minWidth)" *ngFor="let c of cells">
            <div>
                <ng-container *ngTemplateOutlet="c.getTemplateReference(); context: {$implicit: d}"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #noData>
    <div class="row">
        No results
    </div>
</ng-template>
