<!-- In a real app I wouldn't just dump this code in the main app component but would move it to its own -->
<div class="container">
  <div class="cards">
    <mat-card class="controls-card">
      <mat-card-content>
        <div style="font-size: 50px;">
          Users
        </div>
        <div class="controls">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Begin typing..." #nameSearch>
          </mat-form-field>
          <button class="reset-button" (click)="resetBalances()" mat-raised-button color="primary">Reset Balance</button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="table-card">
      <mat-card-content>
        <div>
          <!-- I've basically tried to emulate the way the table from the materials library works, so its generic and not coupled to the specific data -->
          <app-table [data]="displayingUsers" trackBy="_id">
            <app-table-cell header="Name" [minWidth]="150">
              <ng-template let-value>
                {{value.name}}
              </ng-template>
            </app-table-cell>
            <app-table-cell header="Age" [minWidth]="60">
              <ng-template let-value>
                {{value.age}}
              </ng-template>
            </app-table-cell>
            <app-table-cell header="Registered Date" [minWidth]="170">
              <ng-template let-value>
                <!-- There will be a more elegant way of doing this to avoid the substring, such as parsing the data from the source into the correct format for the date pipe -->
                {{value.registered.substring(0, 20) | date:'dd-mm-yyyy dd:mm:ss'}}
              </ng-template>
            </app-table-cell>
            <app-table-cell header="Email" [minWidth]="230">
              <ng-template let-value>
                {{value.email}}
              </ng-template>
            </app-table-cell>
            <app-table-cell header="Balance" [minWidth]="100">
              <ng-template let-value>
                <!-- A custom pipe could be good here for handling the commas and any other non-numeric values in the string that could be an issue -->
                {{value.balance.replace(',', '') | currency:'GBP'}}
              </ng-template>
            </app-table-cell>
          </app-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>